.btn-native {
  background: linear-gradient(to right, #8e2de2, #e100ff, #ff6a00);
  color: white !important;
}

.btn-native:hover {
  opacity: 0.8;
}

.hero {
  background: url(../src/assets/hero.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  width: 90vw;
  margin: 0 auto;
  border-radius: 25px;
  color: black;
}

form {
  width: 40vw;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

a:hover {
  color: #8e2de2 !important;
}

.nav-link.active {
  background-color: rgb(33, 37, 41);
  border-radius: 5px;
  color: #fff !important;
  padding: 0.3rem 1rem;
}
.nav-link.active:hover {
  opacity: 0.8;
}

.gradient-text {
  background-image: linear-gradient(#8e2de2, #e100ff, #ff6a00);
  color: transparent;
  background-clip: text;
}

.app-container {
  min-height: 100vh;
}


.cursor-pointer {
  cursor: pointer;
}

.page-light {
  background-color: #ffffff;
  color: #222;
}

.page-dark {
  background-color: #121212 !important;
  color: #eee !important;
}

.card.card-dark {
  background-color: #414141 !important;
  color: #fff;
}

.blog-card.page-dark {
  border: 1px solid rgba(255, 255, 255, 0.175);
}

.blog-card.page-light:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.blog-card.page-dark:hover {
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 700px) {
  form {
    width: 90vw;
  }

  .blog-detail-container {
    width: 95vw !important;
  }

  .blog-content {
    margin-left: 0;
  }
}
