.hero {
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  color: #fff;
  position: relative;
  display: flex;
  border-radius: 25px;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 5%;
}

.nav-link.active {
  background-color: rgb(33, 37, 41);
  border-radius: 5px;
  color: #fff !important;
  padding: 0.3rem 1rem;
}

.nav-link.active:hover {
  opacity: 0.8;
}

.app-container {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.page-light {
  background-color: #ffffff;
  color: #222;
}

.page-dark {
  background-color: #121212 !important;
  color: #eee !important;
}

.footer-items {
  flex-direction: column;
}

.grid-container {
  display: grid;
  gap: 5rem;
}

.card-form {
  max-width: 800px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

@media screen and (min-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-detail .user-card {
    max-width: 60%;
    padding-left: 5rem;
  }

  .footer-items {
    flex-direction: row;
  }

  .blogs-container {
    padding: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogs-container {
    padding: 5rem;
  }
}
